<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mùa đông không lạnh</title>
  </head>
  <body>
    <h1>Search page</h1>
    {% for service in all_service %}
    <div>
      {% if service.gender == 0 %}:
        <img src="../static/image/female-profile.jpg" alt="">
      {% else %}:
        <img src="../static/image/male-profile.jpg" alt="">
        {% endif %}

      <p>name: {{ service.name }}</p>
      <p> yob: {{ service.yob}} </p>
      <p> address: {{ service.address}} </p>
      <p> phone: {{ service.phone}} </p>
      <p> height: {{ service.height}} </p>
      <p> status: {{ service.status}} </p>


    </div>


    {% endfor %}

  </body>
</html>
