#flex-box{
  background-color: #80CBC4;
  height: 500px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}
.h-100px{
  height: 100px;
}
.w-100px{
  width: 100px;
}
.bg-lightgreen{
  background-color: #BCAAA4;
}
.m10-px{
  margin: 10px;
}
